html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.list {
  min-height: calc(100vh - 1rem);
  padding: 1em 2em 0;
  display: flex;
  flex-direction: column;
}

.list__header {
  font-size: 2rem;
  background-color: #8055FF;
  margin-bottom: 2rem;
}

.list__panel {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid #8055FF;
  margin-bottom: 2rem;
}

.list__filter-panel {
  display: flex;
}

.list__search {
  height: 2rem;
  width: 256px;
  background-color: #8055FF;
  margin-right: 0.5rem;
}

.list__filters {
  height: 2rem;
  width: 2rem;
  background-color: #8055FF;
}

.list__loading {
  height: 2rem;
  width: 2rem;
  background-color: #8055FF;
}


.table {
  border: 1px solid #8055FF;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.table__header {
  height: 2rem;
  background-color: #8055FF;
}

.table__content {
  flex-grow: 1;
  background-color: rgb(168 168 255);
}

.table__footer {
  height: 2rem;
  background-color: #8055FF;
}