.wrapper__button {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
  padding: 48px;
  width: 576px;
  height: 376px;
  border: 1px dashed #8055ff;
  box-sizing: border-box;
  border-radius: 5px;
}

.button-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
  margin-bottom: 32px;
}

.button-box__button {
  margin-bottom: 16px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  background: none;
}

.button_white {
  background: #459df5;
  color: #ffffff;
}

.button_blue {
  color: #459df5;
}

.button_black {
  color: #000000;
}

.button_medium {
  padding: 8px 16px;
  height: 32px;
}

.button_small {
  padding: 4px 8px;
  height: 24px;
}

.button_only-icon {
  padding: 8px;
}

.button_only-icon-small {
  padding: 4px;
}

.icon {
  height: 16px;
  width: 16px;
  fill: #ffffff;
}

.button_blue .icon {
  fill: #459df5;
}

.button_black .icon {
  fill: #000000;
}

.button_medium .icon {
  margin-right: 8px;
}

.button_small .icon {
  margin-right: 4px;
}

.button_full {
  width: 100%;
}
