html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1rem;
  width: 352px;
  height: 400px;
  border: 1px dashed #8055ff;
  box-sizing: border-box;
  border-radius: 5px;
}

.text-field {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
}

.text-field__input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.text-field__input {
  width: 100%;
  height: 32px;
  border: 1px solid #459df5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 25px 4px 8px;
  outline: none;
}

.text-field__input::placeholder {
  color: #bad8f5;
}

.text-field__input:focus {
  box-shadow: 2px 2px 2px #459df5;
}

.text-field_error {
  border: 1px solid #f53152;
}

.text-field_error:focus {
  border: 1px solid #459df5;
  box-shadow: 2px 2px 2px #459df5;
}

.text-field_locked {
  background: #bad8f5;
  color: #000000;
}

.text-field__label {
  margin-bottom: 8px;
  height: 16px;
}

.text-field__delete {
  position: absolute;
  height: 16px;
  width: 16px;
  padding: 0;
  border: none;
  background: inherit;
  right: 11.5px;
  cursor: pointer;
}

.text-field__locked-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
}
